@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

/* Déclaration des variables de couleur */
:root{
    /* Variables Dark Mode */
    --bg-dark-mode: #000000;
    --hd-dark-mode: linear-gradient(180deg, #000000 0%, #7e7e7e 100%);
    --ft-dark-mode: linear-gradient(0deg, #000000 0%, #7e7e7e 100%);
    --blue-dark-mode: #00B6FF;
    --txt-dark-mode: #ffffff;
    --fade-dark-mode: rgb(0, 0, 0, 0.5);
    
    /* Variables Light Mode */
    --bg-light-mode: #C5C5C5;
    --hd-light-mode: linear-gradient(180deg, #ffffff 0%, #7e7e7e 100%);
    --ft-light-mode: linear-gradient(0deg, #ffffff 0%, #7e7e7e 100%);
    --blue-light-mode: #006E99;
    --txt-light-mode: #000000;
    --fade-light-mode: rgb(255, 255, 255, 0.5);
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Propriété pour toutes les pages                              */
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--bg-dark-mode);
    color: var(--txt-dark-mode);
}

header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background: var(--hd-dark-mode);
    border-bottom: solid var(--txt-dark-mode) 0.025em;
}

h1{
    font-family: 'Special Elite', cursive;
}

h1::first-letter{
    color: var(--blue-dark-mode);
}

.menuderoulant{
    display: none;
}

.mdvisible{
    border: solid #ffffff 2px;
    background: var(--ft-dark-mode);
    font-family: 'Special Elite', cursive;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 33vh;
    z-index: 1;
    display: block;
    right: 0;
    top: 69px;
}

nav li::first-letter{
    color: var(--blue-dark-mode);
}


nav li{
    list-style: none;
    color: var(--txt-dark-mode);
    text-align: center;
    text-decoration: none;
    font-size: 24px;
}

main{
    background-image: url(../imgs/Confidence.avif);
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article{
    width: 95%;
    height: 95%;
    background-color: var(--fade-dark-mode);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h2{
    font-family: 'Special Elite', cursive;
    font-size: 48px;
}

h2::first-letter{
    color: var(--blue-dark-mode);
}

h3{
    font-family: 'Special Elite', cursive;
    font-size: 36px;
    text-align: center;
}

footer{
    border-top: solid var(--txt-dark-mode) 0.025em;
    height: 10vh;
    background: var(--ft-dark-mode);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

i{
    font-size: 30px;
}

/* Propriétés pour la page d'accueil                            */
#mainaccueil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.articleaccueil{
    width: 90%;
    height: 75%;
}

.cadreimage{
    width: 45%;
}

#photo{
    width: 100%;
    border-radius: 50%;
    border: solid var(--txt-dark-mode) 0.025em;
}

/* Emulation du cercle avec l'image de la personne */
/* h2::before{
    content: '';
    display: block;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    border: solid var(--txt-dark-mode) 0.025em;
    margin: auto;
    margin-bottom: 2em;
} */

#bienvenue::after{
    content: '';
    display: block;
    width: 100%;
    height: 0.025em;
    background-color: var(--txt-dark-mode);
    margin-top: 1em;
}

/* Propriété de la page A Propos                                */

/* Propriété de la page Projets                                 */

/* Propriété de la page Contact                                 */
form{
    width: 90%;
}

.formdiv{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

label{
    font-family: 'Special Elite', cursive;
    margin-top: 10px;
}

