@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

/* Déclaration des variables de couleur */
:root{
    /* Variables Dark Mode */
    --bg-dark-mode: #000000;
    --hd-dark-mode: linear-gradient(180deg, #000000 0%, #7e7e7e 100%);
    --ft-dark-mode: linear-gradient(0deg, #000000 0%, #7e7e7e 100%);
    --blue-dark-mode: #00B6FF;
    --txt-dark-mode: #ffffff;
    --fade-dark-mode: rgb(0, 0, 0, 0.5);
    
    /* Variables Light Mode */
    --bg-light-mode: #C5C5C5;
    --hd-light-mode: linear-gradient(180deg, #ffffff 0%, #7e7e7e 100%);
    --ft-light-mode: linear-gradient(0deg, #ffffff 0%, #7e7e7e 100%);
    --blue-light-mode: #006E99;
    --txt-light-mode: #000000;
    --fade-light-mode: rgb(255, 255, 255, 0.5);
}

main{
    font-family: 'Courier New', Courier, monospace;
}

/* Header */
header h1{
    font-family: "Special Elite";
}

header h1::first-letter{
    color: var(--blue-dark-mode)
}

nav li{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

nav li::first-letter{
    color: var(--blue-dark-mode);
}

#backdrop{
    width: 90%;
    background-color: var(--fade-dark-mode);
}

/* Accueil */

.articleaccueil{
    background-image: url(../imgs/Confidence.avif);
    background-size: cover;
    margin-bottom: 1em;
}



.articleaccueil div{
    width: 90%;
    margin: 1em;
}

.articleaccueil h3{
    margin: 1em;
}

/* A Propos */
.articleapropos{
    margin-bottom: 1em;
}

/* Projets */
.articleprojet{
    margin-bottom: 1em;
}

/* Contact */
.articlecontact{
    margin-bottom: 1em;
}

/* Footer */
footer{
    border-top: 1px var(--txt-dark-mode) solid;
}

footer i{
    font-size: 40px;
}